# Logs
factorio-current.log
factorio-previous.log

# Cache files
crop-cache.dat
temp/

# Ignore all saves...
saves/*
# But don't ignore the saves directory itself...
!saves/
# And also don't ignore a specific save
!saves/cookieButterFactory.zip
!saves/_autosave1.zip
!saves/_autosave2.zip
!saves/_autosave3.zip

# Ignore mods
mods/*

# Server specific files that might contain sensitive info
server-adminlist.json
server-id.json
